@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS INDEX */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container-index {
    max-width: 1200px;
    margin: 0 auto;
}

.header-index {
    background-image: linear-gradient(
      rgba(217, 217, 219, 0),
      rgba(0, 0, 1, 0.7)
    ), 
    url(static/img/foto\ back.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 210vh;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu-container-index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .logo-img-index {
    width: 80px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; 
    margin-left: 200px; /* Añade un margen de 30px a la izquierda */
    margin-top: 20px;
}
  
  .nav-index {
    display: flex;
    align-items: center;
  }
  
  /* boton de sing in  */
  .btn-sing-in-index {
    font-size: 16px; /* Reducir el tamaño de la fuente */
    padding: 8px 18px; /* Ajustar el padding para hacer los botones más pequeños */
    margin-left: 15px; /* Espacio entre los botones */
    color: #ffffff;
    background-color: transparent;
    border: 2px solid  #ffffff;
    border-radius: 85px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px; /* Reducir la altura del botón */
    margin-right: 10px;
}
  
  .btn-sing-in-index:hover {
    border: 1px solid #503B31;
    background-color: #9b817529;
    color: #503B31;
  }

  /* boton de sing up */
  .btn-sing-up-index {
    font-size: 16px; /* Reducir el tamaño de la fuente */
    padding: 8px 18px; /* Ajustar el padding para hacer los botones más pequeños */
    margin-left: 15px; /* Espacio entre los botones */
    color: #ffffff;
    background-color: transparent;
    border: 2px solid  #ffffff;
    border-radius: 85px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px; /* Reducir la altura del botón */
    margin-right: 10px;
}
  
.btn-sing-up-index:hover {
    border: 1px solid #503B31;
    background-color: #9b817529;
    color: #503B31;
  }
  
.header-content-index {
    text-align: center;
    margin-top: auto; /* Empuja el contenido hacia abajo para centrarlo verticalmente */
    margin-bottom: auto; /* Empuja el contenido hacia arriba para centrarlo verticalmente */
  }
  
.titulo-index {
    font-size: 75px;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
    
  }
  
.parrafo-inicial-index {
    font-size: 20px;
    color: #ffffff;
    padding: 0 250px;
    margin-bottom: 25px;
  }
  
/* Seccion de book */

.section-important-index{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
    
}

.content-important-index{
    text-align: left; /* Alinea el contenido hacia la izquierda */
    max-width: 1200px; /* Limita el ancho del contenedor para mejor control */
    margin: 0 auto; 
}

.title-group-index{
    font-size: 35px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin: 0 auto 15px auto; /* Centra el título horizontalmente sin padding */
    max-width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta cualquier desbordamiento de texto */
    text-overflow: ellipsis;
}

.text-gruop-index {
    margin-top: 10px;
    font-size: 22px; /* Reducimos un poco el tamaño del texto */
    line-height: 1.5em; /* Espaciado de línea */
    max-width: 500px; /* Limita el ancho máximo del texto */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    padding: 0 10px;
}

.group-import-index {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.group-index {
    text-align: center; /* Asegura que el texto esté centrado debajo de la imagen */
    margin: -50px -130px -50px -130px; /* Eliminamos el margen derecho para un mejor control con gap */
}

.img-group-index {
    width: 200px;
    margin-bottom: 12px; 
    
}

/* main */

.services-index{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(static/img/libro.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.parrafo-services-index {
    font-size: 16px;
    color: #ffffff;
    margin: 50px auto 0;
    padding: 0 20px; /* Reduce el padding horizontal para que el texto ocupe más espacio */
    max-width: 1200px; /* Aumenta el max-width para que el texto pueda ocupar más espacio horizontal */
    text-align: center;
}

.services-group{
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 90px; /* Espacio de 30px entre las imágenes */
    margin-bottom: 50px;
}

.services-tipo-index{
    text-align: center; /* Centra el contenido dentro de cada bloque */
}

.img-services-index{
    width: 100px; /* Ajusta el tamaño de las imágenes si es necesario */
    margin-bottom: 15px;
}

.title-services-index{
    color: #E1E2E6;
    font-size: 18px;
}

/* general */

.general-index{
    display: flex;
}

.general-1-index {
    width: 50%;
    padding: 100px 50px; /* Ajusta el padding según sea necesario */
    background-color: #E1E2E6;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho del contenedor */
}

.general-2-index {
    background-image: url(static/img/escritores.jpg);
    background-position: center center;;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3-index {
    background-image: url(static/img/libro-genero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.title-general-index{
    font-size: 40px;
    line-height: 50px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-general-index{
    font-size: 18px;
    color: #414247;
    margin: 25px 0 -25px 0;
}

/* footer */

.footer-index {
    padding: 50px 0;
    background-color: #E6E6E6;
    /* margin-top: 50px; Ajusta este valor para el margen deseado */
}

.footer-content-index {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section-index {
    width: 24%; /* Ajusta el ancho según el número de secciones */
    margin-bottom: 30px;
}

.title-footer-index {
    font-size: 18px;
    color:#503B31;
    margin-bottom: 15px;
}

.text-footer-index {
    font-size: 16px;
    color: #414247;
    margin-bottom: 15px;
}

.ul-footer-index {
    list-style-type: none;
    padding: 0;
}

.ul-footer-index, .li-footer-index {
    margin-bottom: 10px;
}

.link-footer-index {
    font-size: 16px;
    color: #414247;
    text-decoration: none;
}

.link-footer-index :hover {
    text-decoration: underline;
}

.red-link-index {
    font-size: 16px;
    color: #414247;
    text-decoration: none;
}

.red-link-index :hover {
    text-decoration: underline;
}


/* Responsive INDEX*/

@media(max-width: 991px) {
    /* Header */
    .header-index {
        background-size: cover; /* Ajusta el tamaño de fondo para pantallas pequeñas */
        min-height: auto; /* Permite que el alto mínimo se ajuste automáticamente */
    }

    .logo-img-index {
        width: 60px; /* Ajusta el tamaño del logo en pantallas más pequeñas */
        margin-left: 20px; /* Reduce el margen izquierdo para que el logo se ajuste mejor */
    }

    .nav-index {
        flex-direction: column; /* Cambia la dirección del flex para adaptarse mejor en pantallas pequeñas */
        align-items: flex-start; /* Alinea los elementos del menú a la izquierda */
    }

    .header-content-index {
        padding: 20px; /* Añade algo de padding para que el texto no esté tan pegado a los bordes */
    }

    .titulo-index {
        font-size: 50px; /* Reduce el tamaño de fuente del título */
        line-height: 55px; /* Ajusta el line-height para que se ajuste mejor */
        margin-bottom: 20px; /* Reduce el margen inferior */
    }

    .parrafo-inicial-index {
        font-size: 18px; /* Reduce el tamaño de fuente del párrafo */
        padding: 0 20px; /* Ajusta el padding para adaptarse mejor a pantallas pequeñas */
        margin-bottom: 15px; /* Ajusta el margen inferior */
    }

    /* Sección de book */
    .section-important-index {
        padding: 50px 20px; /* Reduce el padding para pantallas más pequeñas */
    }

    .content-important-index {
        text-align: center; /* Centra el contenido en pantallas más pequeñas */
    }

    .title-group-index {
        font-size: 22px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
        line-height: 30px; /* Ajusta el line-height */
        padding: 0; /* Elimina el padding horizontal */
    }

    .text-gruop-index {
        font-size: 18px; /* Reduce el tamaño de fuente del texto */
        max-width: 50%; /* Asegura que el texto ocupe todo el ancho disponible */
        padding: 0 10px; /* Añade un poco de padding */
    }

    .group-import-index {
        flex-direction: column; /* Cambia la dirección del flex para pantallas más pequeñas */
        align-items: center; /* Centra los elementos dentro del grupo */
        gap: 20px; 
        margin-top: -50px;
    }

    .img-group-index {
        width: 130px;
        margin-top: 100px;

    }

    /* Main */
    .services-index {
        padding: 50px 20px; /* Reduce el padding para pantallas más pequeñas */
    }

    .parrafo-services-index {
        font-size: 14px; /* Reduce el tamaño de la fuente del párrafo */
        padding: 0 10px; /* Añade padding para ajustar el texto a pantallas pequeñas */
    }

    .services-group {
        flex-direction: column; /* Cambia la dirección del flex para pantallas más pequeñas */
        gap: 20px; /* Reduce el espacio entre los elementos */
    }

    .img-services-index {
        width: 80px; /* Ajusta el tamaño de las imágenes de servicios */
    }

    .title-services-index {
        font-size: 16px; /* Ajusta el tamaño de la fuente del título */
    }

    /* General */
    .general-index {
        flex-direction: column; /* Cambia la dirección del flex para pantallas más pequeñas */
    }

    .general-1-index {
        width: 100%; /* Asegura que ocupe todo el ancho disponible */
        padding: 30px; /* Ajusta el padding */
        text-align: center; /* Centra el texto */
    }

    .general-2-index, .general-3-index {
        width: 100%; /* Asegura que ocupe todo el ancho disponible */
        background-size: cover; /* Ajusta el tamaño de fondo para pantallas pequeñas */
    }

    .title-general-index {
        font-size: 30px; /* Ajusta el tamaño de la fuente del título */
        line-height: 40px; /* Ajusta el line-height */
    }

    .text-general-index {
        font-size: 16px; /* Ajusta el tamaño de la fuente del texto */
        margin: 15px 0; /* Ajusta el margen */
    }

    /* Footer */
    .footer-index {
        padding: 30px 20px; /* Reduce el padding para pantallas más pequeñas */
    }

    .footer-content-index {
        flex-direction: column; /* Cambia la dirección del flex para pantallas más pequeñas */
        align-items: center; /* Centra los elementos */
    }

    .footer-section-index {
        width: 100%; /* Asegura que ocupe todo el ancho disponible */
        text-align: center; /* Centra el texto */
        margin-bottom: 20px; /* Ajusta el margen inferior */
    }

    .title-footer-index {
        font-size: 16px; /* Ajusta el tamaño de la fuente del título */
    }

    .text-footer-index {
        font-size: 14px; /* Ajusta el tamaño de la fuente del texto */
    }

    .link-footer-index {
        font-size: 14px; /* Ajusta el tamaño de la fuente del enlace */
    }

    .red-link-index {
        font-size: 14px; /* Ajusta el tamaño de la fuente del enlace */
    }
}
/* FIN CSS INDEX */
/* -------------------------------------------------------------------------------------------------------------------------- */

/* INICIO DEL CSS DEL NAV */
.icon__menu{
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

button{

    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 2px solid #f6f6f6;
    background-color: #fff;
    z-index: 10;
}

.burger img{
    width: 40%;
    align-items: center;
}

.fixed-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: auto;
    margin-left: 20px;
    border-radius: 36px;
    margin-bottom: 34px;
    height: 76px;
    box-shadow: 0 16px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
 }


 .nav-icon{
    height: 30px !important;
    width: 30px !important;
  }

  

/* FIN DEL CSS DEL NAV */




/* ESTILOS USUARIO */
/* AMIGOS----------------------------------------------------------------------------------------------------------------- */

 
.main-amigos {
    background-color: #fff;
    margin-top: 115px;
    max-height: 80%;
    width: 75%;
    height: 1182px;
    max-width: 95%;
    margin-left: 16%; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 0.5px solid #22223B;
    padding: 20px; /* Añade padding si necesitas separar el contenido de los bordes */
}

 
/* titulo de la seccion */
.title-encabezado-amigo{
    padding: 30px;
    color: #503B31;
    margin-left: -10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.text-section-amigo {
    color: #000000;
    margin-left: 20px;
    font-size: 25px;
    /* font-weight: 500; */
    margin-top: 20px;
    bottom: 10px;;
    width: 92%;
}

/* seccion amigos 3 */
.title-amigo-section { 
    color: #503B31;
    margin-top: 60px; 
    margin-left: -540px;
    font-size: 33px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left; 
}

/* estilos del link */
.ver-mas{
    position: relative;
    left: 87%;
    top: -3vh;
    font-size: 20px;
    border: 1px solid  #503B31;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    text-decoration: none;
    color: #503B31;
}

.ver-mas:hover{
    background-color:  #503b311a;
}


/* Estilos del modal */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    justify-content: center;
    align-items: center;
}

/* Contenido del modal */
.modal-content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    max-width: 450px;
    position: relative;
}

/* Estilo del título dentro del modal */
.modal-content .title-modal {
    color: black;
    text-align: center;
    margin: 0; 
}

/* Estilos de la lista de amigos dentro del modal */
.modal-amigos-container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    max-height: 500px; 
    overflow-y: scroll; /* Espaciado entre amigos */
    margin-top: 30px;
    scrollbar-width: thin; /* Para navegadores como Firefox */
    scrollbar-color: #503b31 #f5f5f5;
}


/* Estilo de cada amigo dentro del modal */
.modal-amigos {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaciado entre la imagen y el nombre */
}

/* Estilo de las imágenes dentro del modal */
.modal-img-amigo {
    border-radius: 50%;
    border: 1px solid #000000;
    height: 80px; /* Ajusta el tamaño si es necesario */
    width: 80px; /* Ajusta el tamaño si es necesario */
    object-fit: cover;
}

/* Estilo de los nombres de usuario dentro del modal */
.modal-title-amigo {
    color: black;
    font-size: 18px; /* Ajusta el tamaño del texto si es necesario */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
}

.modal-title-amigo:hover {
    text-decoration: underline; /* Subraya el nombre al pasar el mouse */
}

/* Estilo del botón de cerrar */
.close-amigo {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 34px;
    text-decoration: none;
    color: #503b31; /* Color del botón de cerrar */
    cursor: pointer;
}

/* Estilo al abrir el modal */
:target.modal {
    display: flex;
}


/* estilos de las imagenes ------------------------ */
.amigos-container {
    display: flex;
    flex-wrap: wrap; 
    margin: 75px 0 120px 45px;
    gap: 100px; 
}

.amigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px; /* Ancho fijo para todos los contenedores */
}

.title-amigo {
    color: black;
    margin-top: 10px; /* Espacio entre la imagen y el título */
    font-size: 20px; /* Ajusta el tamaño del texto según tus necesidades */
    width: 100%; /* Ajusta el ancho para que coincida con el contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Asegura que el texto esté centrado */
}

/* amigos que te pueden gustar --------------*/
.title-amigo-gustar{
    color: black;
    margin-top: 60px; 
    margin-left: -390px;
    font-size: 33px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left; 
}

.amigos-gustar-container{
    display: flex;
    flex-wrap: wrap; 
    margin: 75px 0 20px 45px;
    gap: 100px; 
}

/* estilos directos imagenes */
.img-amigo {
    border-radius: 50%;
    border: 1px solid #000000;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: -70px;
    margin-bottom: 20px;
    
}

/* Estilos del Modal 2 */
.modal-gustar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Contenido del Modal 2 */
.modal-gustar-content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    max-width: 450px;
    position: relative;
}

/* Estilo del título dentro del Modal 2 */
.modal-gustar-content .amigos-modal {
    color: #503B31;
    text-align: center;
    margin: 0;
    font-size: 28px;
    word-wrap: break-word; /* o overflow-wrap: break-word; */
    width: 100%;
}

/* Contenedor de los amigos dentro del Modal 2 */
.modal-gustar-amigos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 30px;
    scrollbar-width: thin;
    scrollbar-color: #503b31 #f5f5f5;
}

/* Para WebKit (Chrome, Safari, Edge) */
.modal-amigos-container::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de desplazamiento */
}

.modal-amigos-container::-webkit-scrollbar-track {
    background: transparent; /* Fondo de la pista de desplazamiento */
}

.modal-amigos-container::-webkit-scrollbar-thumb {
    background-color: #503b31; /* Color del "thumb" */
    border-radius: 10px; /* Radio de borde para el "thumb" */
}

/* Estilo de cada amigo dentro del Modal 2 */
.modal2-amigos {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Estilo de las imágenes dentro del Modal 2 */
.modal2-img-amigo {
    border-radius: 50%;
    border: 1px solid #000000;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

/* Estilo de los nombres de usuario dentro del Modal 2 */
.modal2-title-amigo {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.modal2-title-amigo:hover {
    text-decoration: underline; /* Subraya el nombre al pasar el mouse */
   
}

/* Estilo del botón de cerrar en el Modal 2 */
.close-gustar {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 34px;
    text-decoration: none;
    color: #503b31;
    cursor: pointer;
}

/* Estilo al abrir el Modal 2 */
:target.modal-gustar {
    display: flex;
}


