@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins',sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
      rgba(217, 217, 219, 0),
      rgba(0, 0, 1, 0.7)
    ), 
    url(static/img/foto\ back.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 210vh;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .logo-img {
    width: 80px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; 
    margin-left: 200px; /* Añade un margen de 30px a la izquierda */
    margin-top: 20px;
}
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav .btn {
    font-size: 16px; /* Reducir el tamaño de la fuente */
    padding: 8px 18px; /* Ajustar el padding para hacer los botones más pequeños */
    margin-left: 15px; /* Espacio entre los botones */
    color: #dfa78d;
    background-color: transparent;
    border: 2px solid  #dfa78d;
    border-radius: 85px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px; /* Reducir la altura del botón */
    margin-right: 10px;
}
  
  .nav .btn:hover {
    background-color: #9b817529;
    color: #ffffff;
  }
  
  .header-content {
    text-align: center;
    margin-top: auto; /* Empuja el contenido hacia abajo para centrarlo verticalmente */
    margin-bottom: auto; /* Empuja el contenido hacia arriba para centrarlo verticalmente */
  }
  
  .header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
    
  }
  
  .header-content p {
    font-size: 20px;
    color: #ffffff;
    padding: 0 250px;
    margin-bottom: 25px;
  }
  




/* Seccion de book */

.book{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
    
}

.book-content{
    text-align: center;
}

.book-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.book-1 p {
    margin: 0; /* Eliminamos el margen para evitar espacio extra */
    margin-top: 10px; /* Asegura que haya un espacio de 10px entre el título y el texto */
    font-size: 18px;
}

.book-group {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* Espacio entre los elementos */
    margin-bottom: 20px;
    /* Eliminamos el margen negativo y padding que afecta la alineación */
    margin-left: 0;
    padding: 0;
}

.book-1 {
    text-align: center; /* Asegura que el texto esté centrado debajo de la imagen */
    margin-right: 0; /* Eliminamos el margen derecho para un mejor control con gap */
}

.book-1 img {
    width: 200px;
    margin-bottom: 12px; /* Espacio de 10px entre la imagen y el texto */
}

.book-1 h3 {
    color:#503B31;
    font-size: 20px;
    margin-bottom: 10px; /* Espacio de 10px entre el título y el párrafo */
}

/* main */

.services{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(static/img/libro.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content{
    text-align: center;
}

.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services p {
    font-size: 16px;
    color: #ffffff;
    margin: 50px auto 0;
    padding: 0 20px; /* Reduce el padding horizontal para que el texto ocupe más espacio */
    max-width: 1200px; /* Aumenta el max-width para que el texto pueda ocupar más espacio horizontal */
    text-align: center;
}


.services-group{
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 90px; /* Espacio de 30px entre las imágenes */
    margin-bottom: 50px;
}

.services-1{
    text-align: center; /* Centra el contenido dentro de cada bloque */
}

.services-1 img{
    width: 100px; /* Ajusta el tamaño de las imágenes si es necesario */
    margin-bottom: 15px;
}

.services-1 h3{
    color: #E1E2E6;
    font-size: 18px;
}


/* general */

.general{
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 50px; /* Ajusta el padding según sea necesario */
    background-color: #E1E2E6;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho del contenedor */
}

.general-2 {
    background-image: url(static/img/escritores.jpg);
    background-position: center center;;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(static/img/libro-genero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.modal-title{
    text-align: center;
    position: relative;
    left: 40%;
    font-size: 30px ;
    font-weight: 700px;
}

.modal-dialogL{
    top: 130px;
    
}
.modal-footer{
    justify-content: center;
    border-top: none;

}
.modal-body{
    margin-top: 10px;

}
.modal-footer .btn{ 
    border: 2px solid #503B31;
   color:#503B31;
    

}
.modal-footer .btn:hover{ 
 background-color: #503B31;
   color:#ffffff;
    

}
.modal.show .modal-dialog {
    position: relative;
    bottom: 10px;
    border-radius: 15px;
}
.form-control{
    border-radius: 20PX;
    border: 1px solid #000;
    margin-bottom: 5px !important;
}
.modal-content{
    color:rgb(0, 0, 0);
}
.modal-header{
    border-bottom: 1px solid #000;
}

/* footer */

.footer {
    padding: 50px 0;
    background-color: #E6E6E6;
    /* margin-top: 50px; Ajusta este valor para el margen deseado */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 24%; /* Ajusta el ancho según el número de secciones */
    margin-bottom: 30px;
}

.footer-section h3 {
    font-size: 18px;
    color:#503B31;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 16px;
    color: #414247;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    font-size: 16px;
    color: #414247;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}










 /* Responsive */

 @media(max-width:991px){

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .nav ul li{
        width: 100%;
    }

    #menu:checked ~ .nav{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 30px;
    }

    .header-content p{
        padding: 0;
    }

    .book{
        padding: 30px;
    }

    .book-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .book-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .services{
        padding: 30px;
    }

    .services-content p{
        padding: 0;
    }

    .services-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1{
        margin-bottom: 25px;
    }

    .general{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .generl-2, .general-3{
        display: none;
    }

    .book-content{
        flex-direction: column;
    }

    .book-1{
        padding: 0;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}
